ul{
    margin: 0;
    padding: 0;
}
li{
    text-align:left;
    float:left;
    display:inline-block;
    width: 47%;
}

li:nth-child(odd){
    margin-left: 5px;
}

li:nth-child(even){
    margin-left: 20px;
}

li{
    margin-top:20px;
}
